@media(min-width:35.1em){ /* Larger than mobile devices */
    .l-size {
      font-size: 2vw;
      /* margin-top: 15%; */
    }
    #about {
      height: 100vh;
    }
  }
@media(max-width:35em){ /*  mobile devices */
    .xs-size {
      font-size: 100%;
    }
  }

/* @media(min-width:1400px){
  .l-size {
    font-size: 1.3vw;
  }
} */
@media(min-height:1000px){
  .l-size {
    font-size: 1.5vw;
  }
  #about #first {
    margin-top: 6%;
  }
}
@media(max-height:999px){
  .xs-size {
    font-size: 1.38vw;
    
  }
}
