@media(min-width:35.1em){ /* Larger than mobile devices */
    .l-size {
      font-size: 18pt;
      margin-top: 15%;
    }
    #about {
      height: 100vh;
    }
    #about #first {
      margin-top: 12%;
    }
  }
@media(max-width:35em){ /*  mobile devices */
    .xs-size {
      font-size: 100%;
    }
  }
