.App {
  text-align: center;
}
.valentina {
  font-family: "Valentina";
}
.cherrylime {
  font-family: "Cherrylime";
  transition: 1s ease-in;
  /* color: "white"; */
}
.perfectlyTogether {
  font-family: "PerfectlyTogether";
}
.nav-links:hover {
  color: yellow!important;
}
