body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Valentina";
  src: local("Valentina"),
  url('./fonts/Valentina/Valentina.otf') format("opentype");
  /* font-weight: bold; */
}
@font-face {
  font-family: "Cherrylime";
  src: local("Cherrylime"), 
  url('./fonts/Cherrylime/Cherrylime.ttf') format("truetype");
}
@font-face {
  font-family: "PerfectlyTogether";
  src: local("Perfect"), 
  url('./fonts/Perfect/PerfectlyTogether.otf') format("opentype");
}