iframe {
    padding: 5px;
    border: 5px solid yellow;
}
@media(max-width:35em){
    /* mobile screens */
    iframe {
        width: 100%;
    }
    #vids h1 {
        font-size: 15vw;
    }
}
@media(min-width:35.1em){
    /* larger screens */
    iframe {
        width: 512px;
    }
    #vids h1 {
        font-size: 10vw;
    }
}